{% extends 'base.html' %}

{% block title %} | Food Detail {% endblock title %}
{% load static %}

{% block content %}
<style>
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }

  .food-detail-section {
    background-color: #fff;
    padding: 50px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .food-detail-img img {
    max-width: 65%;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .food-detail-info {
    padding-left: 30px;
  }

  .food-title {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
  }

  .food-description {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
  }

  .food-price {
    font-size: 28px;
    color: #28a745;
  }

  .add-to-cart-btn {
    background-color: #ffff;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 20px 0;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }

 

  .add-to-cart-btn svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    stroke: #ffffff;
  }

  .food-detail-description {
    padding: 50px 0;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .description-content {
    text-align: justify;
    color: #555;
  }

  .description-content h2 {
    color: #333;
    font-size: 36px;
    margin-bottom: 30px;
  }

  .description-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  .food-gallery {
    margin-top: 20px;
    padding: 30px 0;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .gallery-img-container {
    position: relative;
  }

  .gallery-img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .gallery-img:hover {
    transform: scale(1.1);
  }

  .gallery-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .gallery-img-container:hover .gallery-img-overlay {
    opacity: 1;
  }

  .overlay-text {
    color: #fff;
    font-size: 18px;
    text-align: center;
  }

  @media only screen and (max-width: 564px) {
    .food-gallery {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  @media only screen and (max-width: 765px) {
    .food-gallery {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
</style>

<section class="food-detail-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="food-detail-img">
          <img src="{{product.image.url}}" alt="Delicious Food" class="img-fluid">
        </div>
      </div>

      <div class="col-md-6">
        <div class="food-detail-info">
          <h2 class="food-title text-uppercase">{{product.name}}</h2>
          <p class="food-description">{{product.description}}</p>
          <div class="food-price">
            <h3 class="text-success">${{product.price}}</h3>
          </div>
          <div class="options">
            <button class="add-to-cart-btn">
              Order Now
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                <g>
                  <g>
                    <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                                c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                  </g>
                </g>
                <g>
                  <g>
                    <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                                C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                                c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                                C457.728,97.71,450.56,86.958,439.296,84.91z" />
                  </g>
                </g>
                <g>
                  <g>
                    <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                                c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="food-detail-description">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="description-content">
          <h2 class="text-center">More About Our {{product.name}}</h2>
          <p>
            {{product.description}}
          </p>
          {% comment %} <p>
            Nulla facilisi. Mauris convallis lectus at justo cursus, at consectetur sem consequat. Suspendisse efficitur, felis ac feugiat tincidunt, orci nisl euismod turpis, eget congue orci nunc vel odio.
          </p> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="food-gallery">
  <div class="container">
    <h3 class="text-center">Image Gallery</h3>
    <div class="row">
      
      <div class="col-md-4">
        <div class="gallery-img-container">
          <img src="{{product.image.url}}" alt="Food Gallery" class="gallery-img" height="100%">
        </div>
      </div>
  
    </div>
  </div>
</section>

{% endblock content %}
