{% extends 'base.html' %} {% block title %}
  | Orders
{% endblock %} {% block content %}
  <div class="container">

    
    {% if order|length == 0 %}

    
      <h1>No Order yet!</h1>
 
    
    {% endif %}

   {% for order in order  %}
    
   
    
    <div class="col">
      <div class="card-header p-4">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <p class="text-muted mb-2">
              Order ID <span class="fw-bold text-body">{{order.tracking_number}}</span>
            </p>
            <p class="text-muted mb-0">
              Place On <span class="fw-bold text-body">12,March 2019</span>
            </p>
          </div>
          <div>
            <h6 class="mb-0"><a href="#">View Details</a></h6>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
